version: "3.8"

services:
  mysql:
    profiles:
      - dev

  redis:
    command:
      - "redis-server"
      - "--appendonly"
      - "yes"
      - "--requirepass"
      - "${REDIS_PASSWORD}"
    ports:
      - "127.0.0.1:${REDIS_PORT:-6379}:6379"
